# Database (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/simapo_db"

# NextAuth
NEXTAUTH_SECRET="your-super-secret-key-here-minimum-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# Auth.js v5
AUTH_SECRET="your-super-secret-key-here-minimum-32-chars"
